<div class="clearfix"></div>
<!-- Footer Copyright Section -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<nav class="nav bg-white border-top">
	<div class="container">
		<div class="row pt-3 pb-3">
			<div class="col-md-6 text-md-left text-center">
			<p> Caio Rodrigo </p>
			</div>
			<div class="col-md-6 text-md-right text-center">
				<p>Plataforma de Comunicação para Condomínio</p>
			</div>
		</div>
	</div>
</nav>