<div style="top: 6%" class="dummy-phone">
  <div class="screen-shot">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "convenção-de-condomínio.jpg", height: '350', width: '240' %>
        </div>
    </div>
  </div>
</div>
