<div class="container form-group">
    <div class="row">
        <div class="col">
        <h4 class="font_agencia mt-4">
            Olá! Confira as regras do seu condomínio!
        </h4>
        </div>
    </div>

    <div class="accordion mt-0 card_topicos" id="accordionExample">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Regra 1</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">Descrição da Regra 1</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Regra 2</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">Descrição da Regra 2</th>
                    </tr>
                    <tr>
            </tbody>
        </table>
    </div>
</div>