<div class="container form-group">
    <div class="row">
        <div class="col">
        <h4 class="font_agencia mt-4">
            Olá! Confira as regras do seu condomínio!
        </h4>
        </div>
    </div>

    <div class="accordion mt-0 card_topicos" id="accordionExample">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.l</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">O REGIMENTO INTERNO do CONDOMÍNIO NOVA CANAÃ, localizado à Av. Engenheiro Anysio da Rocha Compasso, 6791, Bairro: Rio Madeira, Porto Velho/RO, rege-se pelas disposições estipuladas na Convenção do Condomínio, bem como, pelos preceitos legais vigentes.</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.2</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">Constituindo-se em instrumento regimental cujas normas são de cumprimento obrigatório, seu regime jurídico vincula a administração do Condomínio, os condôminos e todos aqueles que mantenham qualquer relação com o Condomínio, exigindo, para tanto, sua ratificação em Assembleia Geral.</th>
                    </tr>
                    <tr>
            </tbody>
        </table>


        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.3</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">Estabelecer normas e procedimentos relativos ao uso, ocupação e a utilização das áreas de propriedade exclusiva, das áreas de propriedade comum, das edificações e equipamentos comunitários do CONDOMINIO NOVA CANAÃ, visando à coabitação ordeira e harmônica dos seus Condôminos e usuários.</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.6</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">As UNIDADES componentes do CONDOMINIO NOVA CANAÃ destinam-se única e exclusivamente à edificação de residências unifamiliares, sendo vedado aos seus condôminos elou usuários, o seu uso para quaisquer outras finalidades, tais quais, repúblicas, pousadas, pensões, abrigos, bares, restaurantes, estabelecimentos comerciais e quaisquer outros empreendimentos que se lhes assemelhe na finalidade, sendo permitido escritórios virtuais elou comércio exclusivamente entre os condôminos;</th>
                    </tr>
                    <tr>
            </tbody>
        </table>


        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.7</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">O condômino fica obrigado a manter sua unidade/fração ideal sempre limpa e desimpedida de quaisquer materiais ou entulhos, mantendo a vegetação na altura máxima de 20cm (vinte centímetros) do solo.</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.9</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">O padrão para a construção das calçadas deverá obedecer às normas de acessibilidade determinadas pela Prefeitura, pelo CREA e pela ABNT.</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.24</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">A utilização das dependências comunitárias e de lazer do Condomínio será exclusiva dos condôminos, seus familiares e convidados; estes últimos acompanhados dos condôminos responsáveis, com exceção da academia que será de uso exclusivo dos condôminos, dos seus ascendentes e descendentes</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.25</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">Os danos provocados nas dependências comunitárias pelos condôminos, seus familiares ou convidados serão de inteira responsabilidade do condômino responsável pela ocorrência</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.28</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">O acesso ao Condomínio dar-se-á sempre pelos portões localizados ao lado da guarita principal e mediante identificação perante o serviço de segurança.</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.29</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">O acesso de pessoas não residentes no Condomínio somente será permitido com a autorização, pessoalmente ou por telefone, do condômino por eles responsáveis</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.37</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">Obras de quaisquer naturezas só poderão ser realizadas em dias úteis e nos horários das 07h300 às 18h00, e aos sábados das 07h00 às 12h00, salvo expresso requerimento do condômino e inequívoca autorização por escrito do Síndico</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.46</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">Todas as medidas de prevenção deverão ser adotadas pelos condôminos para que não sejam exalados odores, fumaças ou sons que possam causar perturbações ou incômodos individuais ou coletivos, ficando terminantemente proibida a utilização, nas áreas comuns do Condomínio, de equipamentos de som, seja em veículos, seja em palcos ou assemelhados, operando em níveis de som acima do permitido pela Lei de crimes Ambientais, ABNT e da NBR 10.151. </th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.54</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">A falta de cumprimento ou inobservância de qualquer das normas estipuladas na Convenção e no Regimento Interno, sem que o infrator tome as providências cabíveis no prazo estipulado pela administração, apresentadas na advertência verbal, o Síndico aplicará advertência escrita e, ocorrendo à reincidência, aplicará multa. Se não for caracterizada reincidência, o condômino infrator terá o prazo máximo de até 07 (sete) dias para tomar as devidas providências. Após esse prazo será aplicada multa:
                    <br>
                S 1º  As multas por inobservância do que preceitua a Convenção, Regimento Interno e Normas estão estipuladas 01 (uma) vez o valor da taxa de condomínio vigente na época da infração;
                <br>
                2º A multa para primeira reincidência, no período de 01 (um) ano, será estabelecida em função do dobro da multa inicial. Porém a partir desta, todas as outras reincidências, de forma reiterada, ou prática de infrações diversas, propositadamente, importarão em sucessivas multas diárias na ordem de 25% da multa inicial;
                <br>
                3º Sobre as multas aqui cominadas incidirão mensalmente, além da correção monetária, juros de mora, se não paga até o vencimento da cota condominial seguinte à data do aviso formal de sua aplicação, passado o período para recorrer.
                <br>
                4º Serão corrigidas mensalmente pelo valor do IGPM, vigente à época, ou outro índice que venha ou possa substituí-lo por lei, as multas que estiverem suspensas por efeito judicial.
                <br>
                5º Qualquer infração cabível de correção imediata, que após advertência verbal não seja sanada pelo infrator, este estará passível de multa sem a necessidade de advertência por escrito, respeitado o direito de recurso previsto no artigo 78 
 </th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.56</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">O condômino que não pagar a sua contribuição até a data marcada para o seu vencimento fica sujeito à multa de 2% sobre o total do débito, acrescidos de juros de 1% ao mês, correção monetária e honorários advocatícios. </th>
                    </tr>
                    <tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Art.60</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <th scope="row">O pagamento das penalidades aqui estabelecidas não isentará o condômino infrator de responder pelos prejuízos causados ao patrimônio comum ou de terceiros, bem como pelas consequências cíveis elou criminais do seu ato.</th>
                    </tr>
                    <tr>
            </tbody>
        </table>

    </div>
</div>